.video {
  margin-bottom: 100px;

  &__row {
    @include flex-grid-row();
  }
  &__title {
    @include flex-grid-column(12);
    text-align: center;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
  &__description {
    @include flex-grid-column(8);
    text-align: center;
    margin: 0 auto;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  &__img {

    @include flex-grid-column(12);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__iframe {
    position: absolute;
    top: 53px;
    @include  breakpoint( medium down){
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__wrap {
      @include breakpoint(medium down){
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
      }
    }


  }
}
